@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@200;300&display=swap');

* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

:root {
    cor01: #A6A6A6;
    cor02: #737373;
    cor03: #404040;
    cor04: #262626;
    cor05: #0D0D0D;
}

@font-face {
    font-family: 'Limbo';
    src: url(font/limbo-font.ttf)
}

html {
    scroll-behavior: smooth;
}

body {
    background: rgb(166,166,166);
    

    height: 100vh;
}

.header-main {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    background-color: #0f0f0f;
    position: fixed;

}

.header-main > h1 {
    font-family: 'Limbo', sans-serif;
    font-size: 4.5rem;
    color: white;

    padding: 10px;

    letter-spacing: 5px;

    cursor: pointer;

}

.header-main > h1 > a {
    text-decoration: none;

    color: white;
}

.nav-bar {
    width: auto;

    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    justify-content: center;
}

.nav-bar > a {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 1.2em;
    color: white;

    text-decoration: none;

    cursor: pointer;
    
    transition: 0.1s ease-out;

}

.nav-bar > a:hover {
    color: #737373;
    font-size: 1.23rem;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.first-section {
    background-color: rgba(255, 255, 255, 0.719);

    padding: 70px 32px 32px;
    
    width: 100%;
    height: 98vh;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.first-section-div {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    align-items: flex-start;
    justify-content: center;
}

.first-section-div > h1 {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 32px;

    text-decoration: underline;

}

.first-section-div > p {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 300;
    font-size: 19px;
    color: black;

    width: 90%;

}

.second-section {
    background-color: #262626;

    padding: 70px 32px 32px;
    
    width: 100%;
    height: 98vh;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.second-section-div {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    align-items: flex-start;
    justify-content: center;
}

.second-section-div > h1 {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 32px;
    color: #ffffff;

    text-decoration: underline;

}

.second-section-div > p {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 300;
    font-size: 19px;
    color: #ffffff;

    width: 90%;

}


.third-section {
    background-color: white;

    padding: 32px;
    padding-bottom: 300px;

    width: 100%;
}

.fourth-section {
    background-color: rgb(0, 0, 0);

    color: white;

    padding: 32px;
    padding-bottom: 300px;

    width: 100%;
}

